*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #d0d0d0;
}
body{
    background-color: #d0d0d0;
    color: #282828;
}
h1{
    padding: 0 4em;
    font-size: 4em;
    text-align: center;
    width: fit-content;
}
section{
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
}
main{
    margin: auto;
    padding: 4em;
    width: fit-content;
    background-color: #ebebeb;
    border-radius: 2em;
}
nav{
    margin: 1.5em 0;
    padding: 0;
}
nav .nav-logo a svg{
    margin: 0;
    padding: 0;
    width: 2.5em;
    height: auto;
    color: #282828;
}
nav .nav-logo a:hover svg{
    color: #717171;
}
nav .nav-btn a{
    margin: 0;
    padding: .1em 1.5em;
    border: .1em solid #282828;
    border-radius: 2em;
    text-decoration: none;
    color: #282828;
    font-size: 2em
}
nav .nav-btn a:hover{
    background-color: #282828;
    color: #d0d0d0;
    font-size: 2em
}
.nav-logo{
    margin: auto 0;
    padding: 0;
    width: 50%;
}
.nav-btn{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    width: 50%;
}
.list-container{
    width: 100%;
    height: fit-content;
    max-height: 15em;
    overflow: scroll;
    overflow-x: hidden;
}
.list-container::-webkit-scrollbar {
    width: 0.3em;
    height: 10px;
    background: #d0d0d0;
    border-radius: .5em;
}
.list-container::-webkit-scrollbar-thumb {
    background: #282828;
    border-radius: .5em;
}
.task{
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    padding: 1em;
    width: 100%;
    border: .1em solid #282828;
    border-radius: 1em;
}
.task-identifier{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}
.task-identifier h2{
    margin: auto 0 auto 1em;
    padding: 0;
    width: fit-content;
}
.task-identifier svg{
    width: 2em;
    height: auto;
}
.task-controller{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.task-controller a{
    margin: auto 1em;
    padding: .5em 2em;
    border: .1em solid #282828;
    border-radius: 2em;
    text-decoration: none;
    color: #282828;
    font-size: 1em;
}
.task-controller a:hover{
    background-color: #282828;
    color: #d0d0d0;
}